extends layout

block content
  .row.page-header
    .col-lg-6
      h1= pageHeader.title
    .col-lg-3
      a.btn.btn-default.pull-right(href="/results/#{theater.URL}/#{play.URL}") Go Back Without Saving
  .row
    .col-xs-12.col-md-8
      form#addReview.form-horizontal(action="#{url}", method="post", role="form")
        -if (error == "val")
          .alert.alert-danger(role="alert") *All fields are required, thanks!
        .form-group
          label-group
            label.col-xs-2.col-sm-2.control-label(for="name") Your Name
            .col-xs-10.col-sm-6
              input#name.form-control(name="name")
            label.col-xs-10.col-sm-2.control-label(for="rating") Rating
            .col-xs-12.col-sm-2
              select#rating.form-control.input-sm(name="rating")
                option 5
                option 4
                option 3
                option 2
                option 1
        .form-group
          label-group
            label.col-xs-10.col-sm-2.control-label(for="date") Date Attended
            .col-xs-12.col-sm-4
              select#date.form-control.input-sm(name="date")
                - for (var i = 0; i <= play.dates.length; i++)
                  option(value=play.dates[i]) #{play.prettyDates[i]}
        .form-group
          label.col-sm-2.control-label(for="review") Review
          .col-sm-10
            textarea#review.form-control(name="review", rows="5")
        button.btn.btn-default.pull-right Submit Review
    .col-xs-12.col-md-4
      h3 review #{theater.name}'s
      h3= play.name
      img.img-responsive.img-rounded(src= play.poster)
